{{define "title"}}{{ .Title }}{{end}}
{{define "content"}}
    

     <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Tukang Service AC/Kulkas/Mesin Cuci</h1>

        <!-- Author 
        <p class="lead">
          by <a href="#">Start Bootstrap</a>
        </p>-->

        <!--<hr>

         Date/Time
        <p>Posted on January 1, 2019 at 12:00 PM</p>
 -->
        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="static/images/benner.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">
        
        TukangGue Service merupakan sebuah jasa pelayanan bergerak dalam bidang jasa servis elektronik yakni Service AC, Service Kulkas, dan Service Mesin Cuci. Semua layanan servis kami melayani panggilan dari client yang berdomisili di daerah Ciputat, Pondok Cabe, Pondok Indah, Sawangan, dan sekitarnya.
        
        </p>

        <blockquote class="blockquote">
          <p class="mb-0">Menjangkau Jasa Service Tukanggue.com</p>
          <footer class="blockquote-footer">
            Apakah Anda memerlukan layanan tukang terpercaya dan profesional? 
            <cite title="Source Title">Segera hubungi kami dengan 3 langkah praktis dibawah ini.</cite>
          </footer>
        </blockquote>

        
        
          <h3> 1. Hubungi Call Center Tukang Gue Service</h3>
          <p>
            Call center dari kami selalu siap dan bersedia memenuhi panggilan dari Anda. Jadi, 
            apapun itu berhubungan dengan service AC, kulkas, dan mesin cuci akan diberikan solusinya. 
            Caranya gampang, tinggal menghubungi layanan call center dan menyebutkan keluhan Anda. Pelayanan dijamin akan langsung direspon dengan cepat dan tanggap.
            </p>
<h3> 2. Request Jasa Service</h3>
<p>Setelah menghubungi call center dan memperoleh informasi terkait jasa service. Anda dapat langsung memesannya alias request service. Kami juga memberikan beragam penawaran menarik untuk setiap jasa dari Tukang Gue Service. Jangan khawatir dengan profesional yang menanganinya karena handal, cepat, dan dijamin puas.</p>
<h3> 3. Tunggu Layanan Service Datang</h3>
<p>Apabila pemesanan layanan service selesai, jasa service dari Tukang Gue akan segera meluncur ke lokasi rumah Anda. Sertakan pula alamat yang lengkap agar para ahli yang berkunjung ke rumah Anda tidak tersasar. Ingat, Tukang Gue hanya melayani panggilan dari client yang lokasinya di Ciputat, Pondok Cabe, Pondok Indah, Sawangan, dan sekitarnya.
Daftar Harga Jasa Service
Agar tidak bertanya-tanya lagi, langsung saja menyimak daftar harga jasa service dari Tukang Gue Service dibawah ini. </p>

  <blockquote class="blockquote">
    <p class="mb-0 bg-success text-white">Daftar Harga Service AC</p>
    <footer class="blockquote-footer" >
    <pre class="bg-dark text-white"  style="padding:6px">
Service AC			: Rp. 60.000
Tambah Freon 		: Rp. 150.000 s/d Rp. 175.000
Pasang AC   			: Rp. 250.000 s/d Rp. 300.000
Bongkar Pasang AC		: Rp. 400.000 s/d Rp. 450.000
Perbaikan AC Bocor		: Rp. 150.000 s/d Rp. 175.000
      </pre>
  </footer>
        </blockquote>


 <blockquote class="blockquote">
    <p class="mb-0 bg-success text-white">Daftar Harga Service Kulkas</p>
    <footer class="blockquote-footer">
              <pre class="bg-dark text-white"  style="padding:6px">
Service Kulkas		: Rp. 150.000
Service Mesin Air		: Rp. 50.000/pk
Service Mesin Cuci		: Rp. 150.000
Service Water Heater		: Rp. 50.000
Service Kompor Gas		: Rp. 100.000
      </pre>
  </footer>
        </blockquote>     

<blockquote class="blockquote">
    <p class="mb-0 bg-success text-white">Daftar Harga Pergantian Kapasitor</p>
    <footer class="blockquote-footer">
              <pre class="bg-dark text-white"  style="padding:6px">
Pergantian Kapasitor Outdoor	: Rp. 175.000 s/d Rp. 325.000
Pergantian Kapasitor Indoor	: Rp. 200.000 s/d Rp. 250.000
Pergantian Overload		: Rp. 175.000 s/d Rp. 250.000
Pergantian Gear Box		: Rp. 150.000 s./d Rp. 250.000
Pergantian Timer		: Rp. 150.000 s/d Rp. 225.000
Tukar/Tambah AC Split 	: Rp. 1.100.000
Tukar/Tambah AC Indoor	: Rp. 600.000 s/d Rp. 800.000
Tukar/Tambah AC Outdoor	: Rp. 1.000.000 s/d Rp. 1.500.000

      </pre>
  </footer>
        </blockquote>      


<div class="p-3 mb-2 bg-info text-white">
<h3 class="text-danger">
  Catatan : Hari Libur dan Minggu tetap Buka
</h3>

<b>
  Tukang Gue Service juga berupaya memberikan kecepatan dan keandalan pada 
  setiap pengerjaan service elektronik. Menyediakan masa garansi 
  setelah proses perbaikan AC, kulkas, dan mesin cuci. 
  Kami meyakini kualitas service yang diberikan kepada 
  client sangat tinggi karena dikerjakan oleh ahlinya. 
  Jangan biarkan peralatan elektronik rusak tanpa adanya perbaikan. 
  Jadi, segera hubungi nomor telepon (+62) 85921782841	dan kontak whatsapp	
  <a target="_blank" href="https://api.whatsapp.com/send?phone=6285921782841"><img border="0" src="https://img.icons8.com/officexs/30/000000/whatsapp.png"/> 085921782841</a>
</b>

</div>

        

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Service Elektronik</a>
                  </li>
                  <li>
                    <a href="#">Service Mesin Air</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Kitchen Set</a>
                  </li>
                  <li>
                    <a href="#">Forniture</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Konsultasi</h5>
          <div class="card-body">
            Hubungi kami konsultasikan masalah yang kamu alami,<br><br>
            <b>1. Area (Ciputat, Pamulang, P.Cabe, Sawangan):</b><br>
            Nomor telepon (+62) 85921782841	dan kontak whatsapp	
  <a target="_blank" href="https://api.whatsapp.com/send?phone=6285921782841"><img border="0" src="https://img.icons8.com/officexs/16/000000/whatsapp.png"/> 085921782841</a>


            <br>
            <br>
            <b>1. Area (Cileduk, Rempoa, P.aren):</b><br>
            Nomor telepon (+62) 85921782841	dan kontak whatsapp	
  <a target="_blank" href="https://api.whatsapp.com/send?phone=6285921782841"><img border="0" src="https://img.icons8.com/officexs/16/000000/whatsapp.png"/> 085921782841</a>


          </div>
        </div>


        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Blog</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Cara Merawat AC</a>
                  </li>
                  <li>
                    <a href="#">Cara Merawat Kulkas</a>
                  </li>
                </ul>
              </div>
        </div>


      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->





{{end}}